
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(127, 229, 255);
}
