#visor {
    display: grid;
    grid-column: 1/span 4;
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#botaoC {
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#botao {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px 20px rgb(249, 229, 246);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 171, 243);
}
.botaoNumero {
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botaoOperador {
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#virgula {
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#igual {
    display: grid;
    grid-column: 1/span 4;
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botaoNumero:hover {
    background-color: rgb(122, 193, 255);
}

.botaoOperador:hover {
    background-color: rgb(244, 122, 255);
}

#virgula:hover {
    background-color: rgb(204, 122, 255);
}

#igual:hover {
    background-color: rgb(107, 234, 103);
}

#botaoC:hover {
    background-color: rgb(226, 87, 87);
}
#visor:hover{
    background-color: rgb(133, 198, 255);
}